body {
    background-color: #339c13;
    margin: 0;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vw;
    font-size: 100px;
    margin: 0;
}
nav {
    background-color: #1a5708;
    display: flex;
    grid-column: 1 / -1;
    text-align: center;
    justify-content: center;
}

#left{
    background-color: lightgreen;
}

#middle{
    display: grid;
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: lightgrey;
    height: 100%;
}

#right{
background-color: lightgreen;
}
